---
title: Archives
---

<article class="box post post-excerpt">
  <% blog.articles.group_by {|a| a.date.year }.each do |year, articles| %>
  <header>
      <h2><%= year %></h2>
      </header>
        <% articles.each do |article| %>
          <p><%= article.date.strftime("%b") %> <%= article.date.day.ordinalize %> <a href="<%= article.url %>"><%= article.title %></a><%=  ' - ' + article.data.summary unless article.data.summary.nil? %></p>
        <% end %>
  <% end %>
  
</article>